<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal text-primary">Kontakt</h1>
        <p class="lead font-weight-normal">
            Skontaktuj się z nami poprzez formularz kontaktowy!
        </p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container">
    <form class="needs-validation" novalidate>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Imię</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Imię" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Nazwisko</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Nazwisko" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Adres e-mail</label>
            <input type="email" class="form-control" id="inputAddress" placeholder="Adres e-mail" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Treść wiadomości</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Wyślij wiadomość</button>
    </form>
</div>
